@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat&display=swap');

body{
    font-family: 'Kalam', cursive;
    color: var(--black);
    margin: 0;
}

:root{
    --primary: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}

*{
    box-sizing: border-box;
}

textarea{
    width: 50%;
    height: 20vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left:300px;
    
}

#output{
    border: 1px solid black;
    height: 20vh;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left: 300px;
}

nav{
    text-align: center;
    background-color: var(--primary);
}

#btn-translate{
    background-color: var(--primary);
    border: 0px;
    font-size: larger;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left: 300px;
    font-family: 'Kalam', cursive;

}

#txt-output{
    position: relative;
    left: 314px;
}